<div class="body">
    <div class="container" style="margin-top: 20px;">
        <div class="title">IT All Apps </div>
        <div class="apps">
            <a *ngFor="let app of appList" [href]="app.Url" target="_blank" class="app-card">
                <div class="icon-container">
                    <img [src]="app.Icon" [alt]="app.ApplicationName" />
                </div>
                <div class="name">{{ app.ApplicationName }}</div>
            </a>
            <div class="empty-card">
                <div class="plus">+</div>
            </div>
        </div>
    </div>
</div>