<body [style.background-color]="backgroundColor">
    <div class="container" [style.background-color]="backgroundColor">
        <a *ngFor="let app of appList" [href]="app.Url" target="_blank" class="card"
            [ngStyle]="{'background-color': app.BackgroundColor, 'border-left-color': app.BorderColor, 'color': app.TextColor}">
            
            <img [src]="app.Icon" [alt]="app.ApplicationName" class="icon">

            <div class="card-content">
                <h3>{{ app.ApplicationName }}</h3>
                <p>{{ app.Description }}</p>
                <h3>{{ app.ApplicationName }}</h3>
            </div>

        </a>
    </div>
</body>