<body>
    <div class="container">
        <div class="card yellow">
            <img src="/assets/images/icon/phoneBook.png" alt="Phone Book" class="icon">
            <h3>Phone Book</h3>
            <p>สมุดโทรศัพท์</p>
        </div>
        <div class="card green">
            <img style="justify-content: end;" src="/assets/images/icon/HR System.png" alt="HR System" class="icon">
            <h3>HR System</h3>
            <p>ระบบบริหารงานบุคคลและสวัสดิการ</p>
        </div>
        <div class="card light-gray">
            <img src="/assets/images/icon/ONE Booking.png" alt="ONEE Booking" class="icon">
            <h3>ONEE Booking</h3>
            <p>ระบบสำรองห้อง</p>
        </div>
        <div class="card orange">
            <img src="/assets/images/icon/21.png" alt="21 FL Room Reservation" class="icon">
            <h3>21 FL Room Reservation</h3>
            <p>ระบบจองห้องประชุมชั้น 21</p>
        </div>
        <div class="card blue">
            <img src="/assets/images/icon/ITSupport.png" alt="ONEE IT Support" class="icon">
            <h3>ONEE IT Support</h3>
            <p>ระบบแจ้งปัญหาเกี่ยวกับ IT</p>
        </div>
        <div class="card red">
            <img src="/assets/images/icon/ERP Oracle.png" alt="ERP Oracle" class="icon">
            <h3>ERP Oracle</h3>
            <p>ระบบจัดการองค์กร</p>
        </div>
        <div class="card cyan">
            <img src="/assets/images/icon/ONE Portal.png" alt="ONEE Portal" class="icon">
            <h3>ONEE Portal</h3>
            <p>ระบบเพิ่มข้อมูล Supplier/Customer</p>
        </div>
        <div class="card light-blue">
            <img src="/assets/images/icon/BMS.png" alt="BMS" class="icon">
            <h3>BMS</h3>
            <p>ระบบจัดการงานสถาปนิกเทศน์ และสถาปนิกยุทธ</p>
        </div>
        <div class="card dark-gray">
            <img src="/assets/images/icon/CORF.png" alt="Corporate Finance" class="icon">
            <h3>Corporate Finance</h3>
            <p>ระบบจัดการตราสารและเงินกู้บริษัท</p>
        </div>
        <div class="card light-blue">
            <img src="/assets/images/icon/OneCloud.png" alt="OneCloud" class="icon">
            <h3>OneCloud</h3>
            <p>ระบบจัดเก็บเอกสาร สำหรับการประชุมผู้ถือหุ้น</p>
        </div>
        <div class="card purple">
            <img src="/assets/images/icon/AD.png" alt="Employee AD" class="icon">
            <h3>Employee AD</h3>
            <p>ระบบจัดการ AD</p>
        </div>
        <div class="card pink">
            <img src="/assets/images/icon/Eva.png" alt="Employee Evaluation" class="icon">
            <h3>Employee Evaluation</h3>
            <p>ระบบประเมินผลการทำงานพนักงาน</p>
        </div>
        <div class="card pink-light">
            <img src="/assets/images/icon/OneDara.png" alt="OneDara" class="icon">
            <h3>OneDara</h3>
            <p>ระบบบริหารดาราและผังละคร</p>
        </div>
    </div>
</body>